.all-questions-outer-content {
	padding-bottom: 30px;
	background: $white-grey;
	@include bp(large) {
		width: 95%;
		max-width: 1260px;
		margin: 0 auto;
	}
}

.all-questions-inner-content {
	background: $white-grey;
	@include bp(small) {
		max-width: 100%;
	}
	@include bp(medium) {
		margin: 0 auto;
		width: 840px;
	}
}