.profile-container {
	min-height: 100%;
	background: $dark-grey;
	@include bp(small) {
		padding-top: 12px;
		padding-bottom: 40px;
	}
}

.profile-outer-content {
	max-width: 850px;
	min-height: 100%;
	position: relative;
	margin: 0 auto;
	background: white;
}

.profile-inner-content {
	width: 94%;
	margin: 0 auto;
	@include bp(small) {
		width: 90%;
		max-width: 590px;
	}
}

.profile-inner-content {
	.profile-data .profile-photo-content {
		width: 50px;
		height: 50px;
		margin: 0 auto;
		background: url(../../images/photo-halima.jpg) no-repeat center center / cover ;
		@include bp(small) {
			width: 60px;
			height: 60px;
		}
	}
}

.close-button {
	width: 10px;
	height: 10px;
	position: absolute;
	top: 20px;
	right: 20px;
	background: url(../../sprites/icon-close.jpg) no-repeat center center / cover;
}

