.profile-slider {
	text-align: center;
	position: relative;
}

.service-statistics {
	width: 200px;
	margin: 0 auto 40px;
	@extend %clearfix;
	@include bp(extra-small) {
		width: 440px;
	}
	li {
		float: left;
		width: 90px;
		height: 90px;
		position: relative;
		padding-top: 10px;
		z-index: 1;
	}
	li:first-child, li:nth-child(3) {
		margin-right: 20px;
	}
	li:nth-child(2) {
		@include bp(extra-small) {
			margin-right: 20px;
		}
	}
	li:before {
		content: "";
		display: block;
		width: 90px;
		height: 90px;
		position: absolute;
		top: 0;
		z-index: -1;
		background: rgba(224,243,253,0.8);
	}
	li:first-child:before {
		transform: rotate(65deg);
	}
	li:nth-child(2):before {
		transform: rotate(-15deg);
	}
	li:nth-child(3):before {
		transform: rotate(60deg);
	}
	li:last-child:before {
		transform: rotate(10deg);
	}
	span {
		display: block;
		margin: 12px 0;
	}
}

.profile-slider h3 {
	margin-bottom: 40px;
}

.slide-button {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0;
	border-radius: 100%;
}

.slide-back-button {
	background: url(../../sprites/icon-slide-back.jpg) no-repeat center center / cover;
}

.slide-next-button {
	right: 0;
	background: url(../../sprites/icon-arrow-next.jpg) no-repeat center center / cover;
}